q5.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT histogram (skill*)>
<!ELEMENT skill (count+)>
<!ATTLIST skill name CDATA #REQUIRED>
<!ELEMENT count EMPTY>
<!ATTLIST count level CDATA #REQUIRED>
<!ATTLIST count n CDATA #REQUIRED>



<!--for example-->
<histogram>
	<skill name="SQL">
		<count level="1" n="5"/>
		<count level="3" n="5"/>
		<count level="4" n="5"/>
	</skill>
</histogram>